{% extends "layout.html" %}

{% block title %}Contacto - Logística Sur{% endblock%}

{% block nav %}
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #1e2969;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <b><a class="navbar-brand" href="/">Logística Sur</a></b>  
    </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('home_page') }}">Inicio</a></li>
            <li><a href="/mapa.html">Mapa</a></li>
            <li><a href="{{ url_for('enviar_page') }}">Enviar</a></li>
            <li class="active"><a href="{{ url_for('contact_page') }}">Contacto</a></li>
        </ul>
        {% if current_user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('profile_page') }}"><span class="glyphicon glyphicon-user"></span> Mi Perfil</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('mis_envios_page') }}"><span class="glyphicon glyphicon-map-marker"></span> Mis Envios</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('logout_page')}}"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
                </ul>
        {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('login_page') }}"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a></li>
                    <li><a href="{{ url_for('register_page') }}"><span class="glyphicon glyphicon-user"></span> Registrarme</a></li>
                </ul>
        {% endif %}
      </div>
   </div>
</nav>
{% endblock %} 

{% block body %}
<div class="container"> 
    <div class="row">
      <div class="col-sm-12"><h3 style="background-color: #1e2969; text-align: center; color: white;">Formulario de Contacto</h3></div>
    </div>
    <main>
      <form action="" method="POST" id="contacto">
        {{ form.hidden_tag() }}
        <div class="row">
          <div class="col-sm-4 form-outline">
            <h4>¿Cómo te podemos ayudar?</h4>
            {{ form.motivo(class="form-control") }}
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 form-outline">
              <br>{{ form.nom_ape(class="form-control", placeholder="Nombre y Apellido")}}
          </div>
          <div class="col-sm-6 form-outline">
            <br>{{ form.correo(class="form-control", placeholder="Correo Electronico")}}
          </div>
        </div>

        <div class="form-outline mb-4">
          <br>{{ form.msj(class="form-control", placeholder="Mensaje", rows="8", style="resize: none") }}
        </div>
        <br><br>{{form.submit(class="btn btn-primary btn-block mb-4", style="background-color: #1e2969")}}
      </form>
    </main>
</div><br><br>
{% endblock %}
