{% extends "layout.html" %}

{% block title %}¡ Bienvenido a Logística Sur !{% endblock%}

{% block nav %}
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #1e2969;">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
                </button>
                <b>
                    <a class="navbar-brand" href="/"> 
                        Logística Sur
                    </a>
                </b>  
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ url_for('home_page') }}">Inicio</a></li>
                    <li><a href="{{ url_for('map_page')}}">Mapa</a></li>
                    <li><a href="{{ url_for('enviar_page') }}">Enviar</a></li>
                    <li><a href="{{ url_for('contact_page') }}">Contacto</a></li>
                </ul>
                {% if current_user.is_authenticated %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('profile_page') }}"><span class="glyphicon glyphicon-user"></span> Mi Perfil</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('mis_envios_page') }}"><span class="glyphicon glyphicon-map-marker"></span> Mis Envios</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('logout_page')}}"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ url_for('login_page') }}"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a></li>
                        <li><a href="{{ url_for('register_page') }}"><span class="glyphicon glyphicon-user"></span> Registrarme</a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block body %}
    <div class="container">
        <h2 style="color: white; background-color: #1e2969; text-align: center;"><i class="fas fa-home mr-3" style="color: white; font-size: 30px;"></i> Nuestro Local</h2>
    </div>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 bg-dark text-center">
        <div class="container">  
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
        
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
            </ol>
        
            <div class="carousel-inner">
                <div class="item active">
                <img src="/Static/img/local-afuera-1.jpeg" alt="Local 1" style="width:100%;">
                </div>
        
                <div class="item">
                <img src="/Static/img/local-dentro-1.jpeg" alt="Local 2" style="width:100%;">
                </div>
            
                <div class="item">
                <img src="/Static/img/local-dentro-2.jpeg" alt="Local 3" style="width:100%;">
                </div>
        
                <div class="item">
                <img src="/Static/img/local-fuera-2.jpeg" alt="Local 4" style="width: 100%;">
                </div>
        
                <div class="item">
                <img src="/Static/img/local-dentro-3-b.jpeg" alt="Local 5" style="width: 100%;">
                </div>
        
            </div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 style="color: white; background-color: #1e2969; text-align: center;">Lebensohn 114, Bernal.</h2>
    </div>
{% endblock %}