{% extends "layout.html" %}

{% block title %}Registrate en Logística Sur{% endblock %}

{% block nav %}

{% endblock %}

{% block body %}
<body class="text-center">
  <div class="container">
      <form class="form-register" method="POST">
          {{ form.hidden_tag() }}
          <div class="form-outline mb-4">
            <div class="row">
              <div class="col-sm-12"><h3 style="color: white; background-color: #1e2969; text-align: center;">Por favor, Completá con tus datos</h3></div>
            </div><br>
            {{ form.nombre.label() }}
            {{ form.nombre(class="form-control", placeholder="Nombre") }}
            <br>
            {{ form.apellido.label() }}
            {{ form.apellido(class="form-control", placeholder="Apellido") }}
            <br>
            {{ form.email.label() }}
            {{ form.email(class="form-control", placeholder="Correo Electronico")}}
            <br>
            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Contraseña") }}
            <br>
            {{ form.password_confirmation.label() }}
            {{ form.password_confirmation(class="form-control", placeholder="Repetir Contraseña")}}
          </div>

          <div class="form-check d-flex justify-content-center mb-4">
            <br>
            <label class="form-check-label">
              {{ form.acepto_terminos(class="form-check-input") }} {{ form.acepto_terminos.label() }} <a href="#">Terminos & Condiciones</a> 
            </label>
          </div>

          <br>
          {{ form.submit(class="btn btn-primary btn-block", style="background-color: #1e2969") }}
        </form>
  </div><br><br>
</body>
{% endblock %}
