<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
    <link rel="icon" href="/Static/img/favicon.png">
    
    <style>
      /* Remove the navbar's default rounded borders and increase the bottom margin */ 
      .navbar {
        margin-bottom: 10px;
        border-radius: 0;
      }

      .jumbotron {
        margin-bottom: 0;
        padding-top: 30px;
        padding-bottom: 20px;
        background-color: white;
      }

      .container {
        color: black;
      }
      
      /* Add a navy blue background color and some padding to the footer */
      footer {
        background-color: #1e2969;
        padding: 15px;
      }
      .img-fluid {
        max-width: 100%;
        height: auto;
      }
    </style>

  </head>
<div class="container col-sm-6">
   <nav class="navbar navbar-expand-sm navbar-inverse navbar-fixed-top" style="background-color: #1e2969;">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        {% block navbrand%}
        {% endblock %}  
      </div>
        <div class="collapse navbar-collapse" id="myNavbar" style="font-size: 16px;">
          <ul class="nav navbar-nav">
            {% block nav%}
            {% endblock %}
          </ul>
          {% if current_user.is_authenticated %}
                  <ul class="nav navbar-nav navbar-right">
                      <li class="nav-item"><a class="nav-link" href="{{ url_for('profile_page') }}"><span class="glyphicon glyphicon-user"></span> Mi Perfil</a></li>
                      <li class="nav-item"><a class="nav-link" href="{{ url_for('mis_envios_page') }}"><span class="glyphicon glyphicon-map-marker"></span> Mis Envios</a></li>
                      <li class="nav-item"><a class="nav-link" href="{{ url_for('logout_page')}}"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
                  </ul>
          {% else %}
                  <ul class="nav navbar-nav navbar-right">
                      <li><a href="{{ url_for('login_page') }}"> Registrarse/Ingresar <i class="fas fa-user-circle"></i></a></li>
                  </ul>
          {% endif %}
        </div>
     </div>
  </nav>

</div>
 
<body style="background-color: lightgray;">
<br><br>

    <!-- Mensajes de Errores al Usuario -->
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, msg in messages %}
          <div class="container" style="margin-top: 5rem;">
              <div class="alert alert-{{ category }}">
                <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true" >&times;</span>
                </button>
              <label>{{ msg }}</label> 
              </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block body %}
    {% endblock %}

    <br><br><br><br>


    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark">

      <div class="container text-center text-md-left mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Objetivo -->
            <h6 class="text-uppercase font-weight-bold" style="color: white;">Logística Sur</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p style="color: white;">
              "Buscamos satisfacer la demanda de las mejores condiciones de servicios, calidad y coste. Garantizando, la calidad del producto y de nuestro servicio."
            </p>
          </div>

          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Empresas -->
            <h6 class="text-uppercase font-weight-bold" style="color: white;">Empresas</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <a href="https://www.dhl.com/ar-es/home.html" target="_blank" title="DHL"><img src="../Static/img/dhl.jpg" alt="dhl" width="40px" height="40px"></a>
              <a href="https://www.integralpack.com.ar/seguimiento/" target="_blank" title="IntegralPack"><img src="../Static/img/integralpack.jpg" alt="integralpack" width="40px" height="40px"></a>
            </p>
            <p>
              <a href="https://rutacargo.com.ar/seguimiento-on-line/" target="_blank" title="RutaCargo"><img src="../Static/img/rutacargo.jpg" alt="rutacargo" width="40px" height="40px"></a>
              <a href="https://www.crucerodelnorte.com.ar/" target="_blank" title="Crucero del Norte"><img src="../Static/img/crucerodelnorte.jpg" alt="crucerodelnorte" width="40px" height="40px"></a>
              <a href="https://www.buspack.com.ar/" target="_blank" title="Buspack"><img src="../Static/img/buspack.png" alt="buspack" width="40px" height="40px"></a>
            </p>
          </div>

          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Redes Sociales -->
            <h6 class="text-uppercase font-weight-bold" style="color: white;">Nuestras Redes</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <!--IG -->
              <a
                class="btn btn-primary btn-floating m-1"
                style="background-color: #ac2bac;"
                href="https://www.instagram.com/logisticasurq"
                role="button"
                target="_blank"
                ><i class="fab fa-instagram"></i>
              </a>
              <!-- WAPP -->
              <a
                class="btn btn-primary btn-floating m-1"
                style="background-color: green;"
                href="https://wa.me/p/4137498202954224/5491124917164"
                role="button"
                target="_blank"
                ><i class="fab fa-whatsapp"></i>
              </a>
            </p>
          </div>

          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase font-weight-bold" style="color: white;">Contacto</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
            <p>
              <i class="fas fa-home mr-3" style="color: white; font-size: 15px;"></i> <a href="https://goo.gl/maps/GG8W2HUBq8PzRNjJ7" title="Abrir en Google Maps" target="_blank" style="color: white; text-decoration: none;">Lebensohn 114, Bernal, Argentina.</a></p>
            <p style="color: white;">
              <i class="fas fa-envelope mr-3" style="color: white; font-size: 15px;"></i><a href="mailto:logisticasuroficial@gmail.com" style="text-decoration: none; color: white;"> logisticasuroficial@gmail.com</p></a>
            <p style="color: white;">
              <span class="glyphicon glyphicon-earphone" style="color: white; font-size: 15px;"></span> + 54 9 11 2491-7164</p>
            <p style="color: white;">
              <span class="glyphicon glyphicon-earphone" style="color: white; font-size: 15px;"></span> + 54 9 11 3612-7331</p>
          </div>
        </div>
      </div>

      <br>
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        <span class="glyphicon glyphicon-copyright-mark" style="color: white;"></span> <b style="color: white;">&nbsp;Logística Sur 2020-<script>document.write(new Date().getFullYear())</script></b>
      </div>

    </footer>

    <!-- Scripts -->
    <script type="text/javascript" src="../Static/js/app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  </body>
</html>
