{% extends "layout.html" %}

{% block title %}Realizar Envio - Logística Sur{% endblock %}

{% block nav %}
<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #1e2969;">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <b><a class="navbar-brand" href="/">Logística Sur</a></b>  
    </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li><a href="{{ url_for('home_page') }}">Inicio</a></li>
            <li><a href="/mapa.html">Mapa</a></li>
            <li class="active"><a href="{{ url_for('enviar_page') }}">Enviar</a></li>
            <li><a href="{{ url_for('contact_page') }}">Contacto</a></li>
        </ul>
        {% if current_user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('profile_page') }}"><span class="glyphicon glyphicon-user"></span> Mi Perfil</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('mis_envios_page') }}"><span class="glyphicon glyphicon-map-marker"></span> Mis Envios</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('logout_page')}}"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
                </ul>
        {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ url_for('login_page') }}"><span class="glyphicon glyphicon-log-in"></span> Ingresar</a></li>
                    <li><a href="{{ url_for('register_page') }}"><span class="glyphicon glyphicon-user"></span> Registrarme</a></li>
                </ul>
        {% endif %}
      </div>
   </div>
</nav>
{% endblock %} 

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-sm-12"><h2 style="color: white; background-color: #1e2969; text-align: center;">Por favor, completá con tus datos</h2></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-6"><h3 style="color: white; background-color: #1e2969; text-align: center;">Remitente</h3></div> 
  </div>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <form action="" method="POST">
        {{ form.hidden_tag() }}
        <br>
        {{ form.nom_remitente.label() }}
        {{ form.nom_remitente(class="form-control", placeholder="Nombre y Apellido del remitente") }}
        <br>
        {{ form.calle_remitente.label() }}
        {{ form.calle_remitente(class="form-control", placeholder="Domicilio del remitente") }}
        <br>
        {{ form.altura_remitente.label() }}
        {{ form.altura_remitente(class="form-control", placeholder="Altura del domicilio") }}
        <br>
        {{ form.tel_remitente.label() }}
        {{ form.tel_remitente(class="form-control", placeholder="Telefono del remitente") }}
        <br>
        {{ form.t_servicio.label() }}
        {{ form.t_servicio(class="form-control") }}
        <br>
        {{ form.t_pago.label() }}
        {{ form.t_pago(class="form-control") }}
        <br>
        {{ form.info_remitente.label() }}
        {{ form.info_remitente(class="form-control", rows="5", placeholder="Mensaje", style="resize: none") }}
        <br>
        <div class="row">
          <div class="col-sm-12"><h3 style="color: white; background-color: #1e2969; text-align: center;">Destinatario</h3></div> 
        </div>
        <div class="row">
          <div class="col-sm-12">
            <br>
            {{ form.nom_destinatario.label() }}
            {{ form.nom_destinatario(class="form-control", placeholder="Nombre y Apellido del destinatario") }}
            <br>
            {{ form.calle_destinatario.label() }}
            {{ form.calle_destinatario(class="form-control", placeholder="Domicilio del destinatario") }}
            <br>
            {{ form.altura_destinatario.label() }}
            {{ form.altura_destinatario(class="form-control", placeholder="Altura del domicilio") }}
            <br>
            {{ form.tel_destinatario.label() }}
            {{ form.tel_destinatario(class="form-control", placeholder="Telefono del destinatario") }}
            <br>
            {{ form.info_destinatario.label() }}
            {{ form.info_destinatario(class="form-control", rows="5", placeholder="Mensaje", style="resize: none") }}
            <br>
            <h4 style="background-color: #1e2969; color: white; text-align: center;">Completá el Captcha</h4>
            {{ form.recaptcha() }}
            <br>
            {{ form.submit(class="btn btn-primary btn-block", style="background-color: #1e2969") }}
          </div>
        </div>
      </form>
    </div>
  </div>
</div><br><br>
{% endblock %}
